    .attribution {
    font-size: 11px;
        text-align: center;
      }

      .attribution a {
        color: hsl(228, 45%, 44%);
      }

      body {
        background-image: url("./images/bg-mobile.svg");
        background-color: hsl(257, 40%, 49%);
        margin: 0px auto;
        max-width: 375px;
        height: 100vh;
      }

      .overall_section {
        max-width: 375px;
        text-align: center;
      }

      .section {
        max-width: 375px;
        height: 100%;
        margin: 0px auto;
      }

      .logo_container {
        height: 25px;
        margin: 20px 0px 50px 35px;
      }

      .image_section {
        width: 300px;
        height: 200px;
      }

      .header {
        margin: 40px 60px 10px 60px;
        line-height: 30px;
        font-family: sans-serif;
        font-size: 20px;  
      }

      .paragraph {
        margin: 0px 40px 0px 40px;
        font-family: sans-serif;
        line-height: 20px;
        color: whitesmoke;
      }

      .second_section {
        color: white;
      }

      

      .submit_button {
        width: 150px;
        height: 30px;
        font-size: 10px;
        color: hsl(257, 40%, 49%);
        border-radius: 20px;
        margin: 20px 0px 10px 0px;
        border: 1px solid white;
      }

      @media screen and (max-width: 1440px) {
        .overall_section {
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 1440px;

        }

        /* .logo_container {
          margin: 20px 1000px 0px 0px;
        } */

        .section {
        margin: 20px 100px 0px 0px;
        }


        .image_section {
          width: 350px;
          height: 250px;
          text-align: left;
          
        }

        .second_section {
          text-align: left;
        }

      }